body, html{
    font-family:Montserrat; 
    width: 100%;
    padding: 0px; 
    height: 100vh; 
}

body, .toggle-button p {
    margin:0px; 
}

.toggle-button p, .title, .toggle-button, .nav .menu, .images, .bg, .nav .menu ul, .media{
    position: absolute; 
}

.toggle-button{
    display:flex; 
}

.toggle-button{
    align-items:center
}

.toggle-button, .toggle-button p, .nav ul li{
    cursor:pointer; 
}

/* Nav Menu */
.title{
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%)
}

h1{
    letter-spacing:18px; 
    font-weight:500; 
    text-transform: uppercase; 
    font-size: 20px; 
}

.menu-strip {
	position: fixed;
	width: 10%;
	height: 100vh;
	border-right: 1px solid rgba(0,0,0,.1);
	z-index: 1;
	right: 0;
}

.toggle-button div, .toggle-button p {
    transition-duration:700ms; 
}

.toggle-button{
    top:10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    padding: 15px; 
}

.toggle-button:hover div {
	transform: translateX(-35px);
}

.toggle-button span {
	background: #000;
	height:1px;
	width: 35px;
	display: block;
}

.toggle-button span:nth-child(1) {
	margin: 0px 0px 9px auto;
}

.toggle-button p {
	padding-left: 5px;
	transform: translateX(40px);
	opacity: 0;
    visibility: hidden;
    transition-duration: 1100ms; 
    font-weight:400; 
}

.toggle-button:hover p {
	visibility: visible;
	opacity: 1;
	transform: translateX(0px);
}

.nav .menu{
    width:0; 
    height: 100vh; 
    left:0; 
    background:rgba(0,0,0,.95); 
}

.images{
    width:0; 
    height: 100vh; 
    left: 50%; 
    background: url(../images/1.jpg) no-repeat 50% 50%;
    background-size: cover;  
}

.bg{
    width: 100%; 
    height: 100vh;
    /* background: #000;   */
}

.nav .menu ul {
	list-style-type: none;
	top:50%;
	left:40%;
	transform: translate(-50%, -50%);
}

#order {
	font-size: 14px;
	font-weight: lighter;
	color: #afafaf;
	transform: rotate(-90deg);
	display: inline-block;
	font-family: Helvetica;
}

.nav .menu ul li {
	color: #594637;
	font-weight: 600;
	font-size: 35px;
	margin: 0px 0px 20px;
	display: flex;
	align-items: center;
}

#tag {
	font-size: 16px;
	font-weight: lighter;
	color: #afafaf;
	transition: .3s;
    text-transform: lowercase;
    display:none; 
}

.nav .menu ul p {
	color: #8c8c8c;
	margin: 50px 0px 0px 6px;
}

.media {
	top: 80%;
	left: 32%;
	transform: translate(-50%, -50%);
	width: 45%;

}

.media ul li {
	display: inline-block;
	color: #afafaf;
	margin-left: 41px;
	font-size: 24px;
}

.nav .menu ul li:hover #tag{
    color: #a66f2c; 
    transition: 1s; 
} 

#menu {
	background:linear-gradient(#fff, #fff) left no-repeat, #8c8c8c;
	background-size: 0% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: 1s;
	margin-left: 30px;
}

#menu:hover{
    background-size:100% 100%; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.bg1{
    background: url(../images/1.jpg) no-repeat 50% 50%; 
}
.bg2{
    background: url(../images/2.jpg) no-repeat 50% 50%; 
}
.bg3{
    background: url(../images/3.jpg) no-repeat 50% 50%; 
}
.bg4{
    background: url(../images/4.jpg) no-repeat 50% 50%; 
}
.bg5{
    background: url(../images/5.jpg) no-repeat 50% 50%; 
}

.bg1, .bg2, .bg3, .bg4, .bg5{
    display: block; 
    background-size: cover;  
}

.hide{
    display:none; 
}
